<ul class="flex-column bg-light-blue">
    <li class="nav-item">
        <a href="{{ path('app_account') }}" class="nav-link">Mes commandes</a>
    <li class="nav-item">
        <a href="#" class="nav-link">Mes adresses</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_account_modify_pwd') }}" class="nav-link">Modifier mon mot de passe</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('app_logout') }}" class="nav-link">Me déconnecter</a>
    </li>
</ul>