
{% if field.value == 1%}
    <span class="badge badge-secondary">En attente de paiement</span>
{% elseif field.value == 2 %}
    <span class="badge badge-success">Paiement validé</span>
{% elseif field.value == 3 %}
    <span class="badge badge-info">Expédiée</span>
{% endif %}
