{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>Inscription</h1>

        {{ form(registerform) }}

        <br/>

        Déjà inscrit ? <a href="{{ path('app_login') }}"> Connectez-vous !</a>

    </div>
{% endblock %}
