{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5 text-center">
        <img src="/assets/img/sac-de-courses.png" alt="Commande confirmée">
        <h1>Merci pour votre commande</h1>

        <a href="{{ path('app_account_order', { 'id_order' : order.id } ) }}" class="btn btn-success">Consulter ma commande</a>

    </div>
{% endblock %}
